In [2]:
import pandas as pd

# Load the dataset
file_path = '../resources/csgo_round_snapshots.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,round_winner
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT

In [34]:
# Assuming 'data' is your original DataFrame
# Copy the structure of the first row
new_instance = data.iloc[0].copy()

# Set a seed for reproducibility
np.random.seed(0)

# Assigning random realistic values based on the general range and type of the existing data

# Time left in the round (assuming a range from 0 to 175 seconds)
new_instance['time_left'] = np.random.uniform(0, 175)

# Scores (assuming a range for a typical match)
new_instance['ct_score'] = np.random.randint(0, 16)
new_instance['t_score'] = np.random.randint(0, 16)

# Selecting a map randomly from the existing maps
maps = data['map'].unique()
new_instance['map'] = np.random.choice(maps)

# Randomly deciding if the bomb has been planted
new_instance['bomb_planted'] = np.random.choice([True, False])

# Health (assuming a range of 0 to 500 for each team)
new_instance['ct_health'] = np.random.randint(0, 501)
new_instance['t_health'] = np.random.randint(0, 501)

# Armor (assuming a range of 0 to 500 for each team)
new_instance['ct_armor'] = np.random.randint(0, 501)
new_instance['t_armor'] = np.random.randint(0, 501)

# Money (assuming a range up to 16000, typical in CS:GO)
new_instance['ct_money'] = np.random.randint(0, 16001)
new_instance['t_money'] = np.random.randint(0, 16001)

# Randomly selecting values for weapons, grenades, etc., within a realistic range
for column in data.columns:
    if 'grenade' in column or 'weapon' in column:
        new_instance[column] = np.random.randint(0, 6)

# Drop the target variable if it's in the DataFrame
if 'round_winner' in new_instance:
    new_instance = new_instance.drop('round_winner')

# Convert to DataFrame (assuming you need it in this format for prediction)
new_instance_df = new_instance.to_frame().transpose()

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,ct_grenade_flashbang,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade
0,96.042363,5,0,de_inferno,False,195,359,9,211,4373,...,4,3,4,4,4,0,4,3,2,5