In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [104]:
df = pd.read_csv('../resources/csgo_round_snapshots.csv')

In [105]:
df

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,round_winner
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122405,15.41,11.0,14.0,de_train,True,200.0,242.0,195.0,359.0,100.0,...,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,T
122406,174.93,11.0,15.0,de_train,False,500.0,500.0,95.0,175.0,11500.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,T
122407,114.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,4.0,3.0,5.0,1.0,0.0,0.0,5.0,0.0,0.0,T
122408,94.93,11.0,15.0,de_train,False,500.0,500.0,495.0,475.0,1200.0,...,5.0,0.0,3.0,0.0,0.0,0.0,4.0,0.0,0.0,T
122409,74.93,11.0,15.0,de_train,False,375.0,479.0,395.0,466.0,1100.0,...,3.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,T

In [106]:
np.sum(df.isnull())

time_left                    0
ct_score                     0
t_score                      0
map                          0
bomb_planted                 0
                            ..
ct_grenade_molotovgrenade    0
t_grenade_molotovgrenade     0
ct_grenade_decoygrenade      0
t_grenade_decoygrenade       0
round_winner                 0
Length: 97, dtype: int64

In [107]:
rows, columns = df.shape
print(f'Rows: {rows}, Columns: {columns}')

Rows: 122410, Columns: 97

In [108]:
non_numeric_cols = df.select_dtypes(exclude=[np.number])
non_numeric_cols

             map  bomb_planted round_winner
0       de_dust2         False           CT
1       de_dust2         False           CT
2       de_dust2         False           CT
3       de_dust2         False           CT
4       de_dust2         False           CT
...          ...           ...          ...
122405  de_train          True            T
122406  de_train         False            T
122407  de_train         False            T
122408  de_train         False            T
122409  de_train         False            T

[122410 rows x 3 columns]

In [109]:
#This cell will transform all the non-numeric columns into numeric columns
le = LabelEncoder()

df['bomb_planted'] = df['bomb_planted'].astype(int)
df['round_winner'] = le.fit_transform(df['round_winner'])
df['map'] = le.fit_transform(df['map'])

In [110]:
X,y = df.drop(['round_winner'], axis=1), df['round_winner']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [111]:
rf_model = RandomForestClassifier(n_jobs=4)

rf_model.fit(X_train_scaled, y_train)
rf_model.score(X_test_scaled, y_test)

0.8781962257985458

In [115]:
gb_model = GradientBoostingClassifier()

gb_model.fit(X_train_scaled, y_train)
gb_model.score(X_test_scaled, y_test)

0.7562290662527571

In [114]:
nn_model = MLPClassifier(activation='logistic', solver='adam', hidden_layer_sizes=(8,8,8,8), max_iter=500, random_state=42)

nn_model.fit(X_train_scaled, y_train)
nn_model.score(X_test_scaled, y_test)

0.7619475533044686